/*
Error: File to import not found or unreadable: uploadservice.
       Load paths:
         /Users/gijs/Desktop/uploadservice-redesign/bower_components/twbs-bootstrap-sass/assets/stylesheets
         Compass::SpriteImporter
         /Users/gijs/Desktop/uploadservice-redesign/sass
         /Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.3/stylesheets
        on line 2 of /Users/gijs/Desktop/uploadservice-redesign/sass/modules/_all.scss
        from line 13 of /Users/gijs/Desktop/uploadservice-redesign/sass/screen.scss

1: /* Welcome to Compass.
2:  * In this file you should write your main styles. (or centralize your imports)
3:  * Import this file using the following HTML or equivalent:
4:  * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> *\/
5: 
6: @import "compass/reset";
7: 

Backtrace:
/Users/gijs/Desktop/uploadservice-redesign/sass/modules/_all.scss:2
/Users/gijs/Desktop/uploadservice-redesign/sass/screen.scss:13
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/import_node.rb:45:in `import'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/tree/root_node.rb:20:in `render'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/engine.rb:278:in `render'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/gijs/.rvm/rubies/ruby-2.1.2/bin/compass:23:in `load'
/Users/gijs/.rvm/rubies/ruby-2.1.2/bin/compass:23:in `<main>'
/Users/gijs/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/gijs/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: uploadservice.\A        Load paths:\A          /Users/gijs/Desktop/uploadservice-redesign/bower_components/twbs-bootstrap-sass/assets/stylesheets\A          Compass::SpriteImporter\A          /Users/gijs/Desktop/uploadservice-redesign/sass\A          /Users/gijs/.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.3/stylesheets\A         on line 2 of /Users/gijs/Desktop/uploadservice-redesign/sass/modules/_all.scss\A         from line 13 of /Users/gijs/Desktop/uploadservice-redesign/sass/screen.scss\A \A 1: /* Welcome to Compass.\A 2:  * In this file you should write your main styles. (or centralize your imports)\A 3:  * Import this file using the following HTML or equivalent:\A 4:  * <link href=\"/stylesheets/screen.css\" media=\"screen, projection\" rel=\"stylesheet\" type=\"text/css\" /> */\A 5: \A 6: @import \"compass/reset\";\A 7: "; }
